{% extends 'base.html.twig' %}

{% block title %}GUIDE{% endblock %}
{% block header %}
    <div class="header_logo">
        <a href="{{ path('homepage') }}">GUIDE</a>
    </div>
    {{ form(form) }}
        {% block buttons %}
            <a href="{{ path('app_add_page') }}" style="text-decoration: none; color: #FFFFFF"><img src="{{ asset('icons/icons8-plus.svg') }}"></a>
            <a href="{{ path('app_xml') }}" style="text-decoration: none; color: #FFFFFF"><img src="{{ asset('icons/free-icon-download-8358978.png') }}"></a>
        {% endblock %}
{% endblock %}
{% block aside %}
    {% macro renderItems(items) %}
        <ul>
            {% for item in items %}
                <li>
                    <a href="{{ path('show_one_page', {'page_code': item.code}) }}"> {{ item.name }}</a>
                    {% if item.children is defined and item.children is not empty %}
                        {{ _self.renderItems(item.children) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endmacro %}
    <div>
        <ul class="folders">
            {{ _self.renderItems(tree) }}
        </ul>
    </div>
{% endblock %}
{% block body %}
 <h1>Home Page</h1>
{% endblock %}
