{% extends 'base.html.twig' %}

{% block title %}GUIDE{% endblock %}
{% block add_button %}
    <a href="{{ path('app_add_page')}}" style="text-decoration: none; color: #FFFFFF"><img src="{{ asset('icons/icons8-plus.svg') }}"></a>
{% endblock %}
{% block body %}
    <div class="wrapper">
        {% for item in page %}
            {{ item.id }}<br>
            {{ item.code }}<br>
            {{ item.name }}<br>
            {{ item.body }}<br>
            {{ item.parentId }}<br>
        {% endfor %}
    </div>
{% endblock %}
